body {
	background-color: rgba(240, 240, 240, 1);
}

nav.return {
	position: absolute;
	margin-top: -40px;
	margin-left: 50px;
}

nav.return > a {
	font-weight: bold;
	font-size: 18px;
	border-bottom: 2px solid transparent;
	color: rgba(0, 50, 255, 0.9);
	text-decoration: none;
	transition: border-color 0.25s ease;
}

nav.return > a:hover {
	border-color: rgba(0, 50, 255, 0.7);
}

div.name {
	margin-top: 50px;
	text-align: center;
}

h1 {
	font-size: 48px;
}

h1.title {
	display: inline-block;
	font-family: "PT Serif";
	margin-right: 15px;
}

h1.subtitle {
	display: inline-block;
	font-family: "Roboto Bold";
	margin-left: 55px;
}

.slices {
	position: absolute;
	margin-top: -12px;
}

.slices > .slice {
	font-family: "Roboto Black";
	font-size: 72px;
	color: rgba(255, 0, 0, 1);
	opacity: 0.75;
}

.slices > .slice::before {
	content: "/";
}

.slices > .slice:last-child {
	margin-left: -15px;
}

p.introduce {
	width: 620px;
	margin: 0px auto;
	padding-top: 50px;
}

p.introduce::first-letter {
	font-weight: bold;
	font-size: 40px;
	padding-right: 5px;
	line-height: 40px;
	float: left;
}

.map {
	width: 100%;
	height: 450px;
	margin-top: 450px;
}
